---
layout: default
featured:
 - icon: fa-solid fa-cloud
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, a perferendis dolorem velit deleniti aspernatur possimus. Officiis, ex aliquid sunt ab porro molestias sequi neque laborum harum consequuntur, assumenda impedit.
 - icon: fa-solid fa-moon
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, placeat! Totam cumque sint, provident, odio, sit repudiandae facilis exercitationem similique blanditiis suscipit dignissimos facere eius magni quam ratione nihil veniam.
 - icon: fa-solid fa-cloud
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit ex corrupti illo error iure rerum illum corporis odio accusamus vero a mollitia, enim fugit, voluptatem natus magnam quidem! Iure, eius.
 - icon: fa-solid fa-moon
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum laudantium cum necessitatibus ab dolor, debitis autem sequi ad obcaecati esse at, nesciunt minima omnis consequuntur eum cupiditate? Placeat, eveniet!
---
    
    <!----------------- My Header Nav ------------------->

    <!-- <header class="grid-middle center">
        <nav class="col-4 right"> 
          <a href="/index.html">Home</a>
          <a href="/about.html">About</a>
        </nav>
        <div class="col-4 center">
          <a href="/index.html" class="logo">
            <h2>LOGO</h2>
          </a> 
        </div>
        <nav class="col-4 center left">
          <a href="/products.html">Products</a>
          <a href="/contact.html">Contact</a>
        </nav>
    </header> -->

    <!--------------------- Her Header Nav/Banner ----------------------->
    <header class="grid center tall-100 md-tall-80">

        {% include header-nav.html %}

        <div class="col-12">
            <h3 class="font-weight-extra-bold editable">
                <span class="featured-text">sleep</span> like a baby
            </h3>
            <h1 class="font-weight-light editable">the ultimate mattress solution</h1>
        </div>
    </header>

    <!------------------------- Gallery/About Section ---------------------->
    <section class="grid">
        <div class="padded col-6_xs-12-middle">
            <h2 class="editable">
                built to last a <span class="featured-text">lifetime</span>
            </h2>
            <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vero doloribus voluptatum esse laborum veniam unde, sed nemo modi alias tenetur mollitia quam! Molestias explicabo voluptates ut eligendi mollitia vero.</p>
        </div>
        <div class="bg-img bg-bed col-6_xs-12 tall-70 hide-xs"></div>
                <!-- background image bed -->
        <div class="bg-img bg-pug col-6_xs-12 tall-70"></div>
                <!-- background image pug sleeping -->
        <div class="padded col-6_xs-12-middle">
            <h2 class="editable">so <span class="featured-text">soft</span> you'll melt</h2>
            <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore iure distinctio hic asperiores, quis ullam, eligendi esse officiis maiores qui nemo repudiandae libero amet? Perspiciatis accusamus magnam dignissimos adipisci aperiam.</p>
        </div>
    </section>

    <!------------------- Feature Icon Grid Section --------------->
    <section class="padded grid-center bg-dark">
        <div class="padded-1 col-12 center">
            <h2 class="editable"><span class="featured-text">features</span> you will love</h2>
        </div>

        {% for item in page.featured %}

        <div class="padded-1 col-3_sm-6 xxs-stack">
            <i class="{{item.icon}}"></i> 
            <!-- fontawesome icons are INLINE elements by default, so unless you set it to block, it won't accept the text-alignment property -->
            <p>{{item.description}}</p>
        </div>

        {% endfor %}

    </section>

    <!------------------- Image Banner Section --------------->

    <section class="padded center bg-pillow bg-img tall-70 grid">
          <div class="col-12-middle editable">
            <h3 class="big-text">
                <span class="small-text font-weight-normal">never underestimate the power of</span>
                <br>a good night <span class="white-text">sleep</span></h3>
          </div>
    </section>

    <!------------------- Testimonial Section --------------->
    
    <section class="padded grid padded-lg">
        <div class="col-1 right">
            <span class="quote-icon">&ldquo;</span>
        </div>
        <div class="col-10 center">
            <p class="medium-text font-weight-light editable">I've never experienced sleep like this. Omg I really love this mattress I want to buy one for every member of my family</p>
            <p class="subtitle editable">- A very happy customer</p>
        </div>
        <div class="col-1">
            <span class="quote-icon">&rdquo;</span>
        </div>
    </section>

 