---
layout: default
cards:
 - heading: small heading
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptas reprehenderit sed aliquam a facere.
   featured_image: /images/sleep-co-1.jpg
 - heading: small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate saepe harum eveniet, quas 
   featured_image: /images/sleep-co-1.jpg
 - heading: small heading
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore in magni, veniam perferendis
   featured_image: /images/sleep-co-1.jpg
---

    <!--------------------- Her Header Nav/Banner ----------------------->
    <header class="grid center tall-60">
        
        {% include header-nav.html %}

        <div class="col-12">
            <h3 class="font-weight-extra-bold editable">
                <span class="featured-text">addictively</span> soft
            </h3>
            <h1 class="font-weight-light editable">you won't want to get out of bed</h1>
        </div>
    </header>

<!------------------- Text Grid Section --------------->
<section class="padded grid bg-featured">
    <div class="padded-1 col-12 center">
        <h2 class="editable"><span class="white-text">features</span> you will love</h2>
    </div>
    <div class="padded-1 col-3">
        <h3>little heading</h3>
        <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, a perferendis dolorem velit deleniti aspernatur possimus. Officiis, ex aliquid sunt ab porro molestias sequi neque laborum harum consequuntur, assumenda impedit.</p>
    </div>
    <div class="padded-1 col-3">
        <h3>little heading</h3>
        <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, a perferendis dolorem velit deleniti aspernatur possimus. Officiis, ex aliquid sunt ab porro molestias sequi neque laborum harum consequuntur, assumenda impedit.</p>
    </div>
    <div class="padded-1 col-3">
        <h3>little heading</h3>
        <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, a perferendis dolorem velit deleniti aspernatur possimus. Officiis, ex aliquid sunt ab porro molestias sequi neque laborum harum consequuntur, assumenda impedit.</p>
    </div>
    <div class="padded-1 col-3">
        <h3>little heading</h3>
        <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, a perferendis dolorem velit deleniti aspernatur possimus. Officiis, ex aliquid sunt ab porro molestias sequi neque laborum harum consequuntur, assumenda impedit.</p>
    </div>
</section>

    <!-- Cards Section -->

    <section class="grid padded">

        {% for item in page.cards %}            

        <div class="col-4 padded-sm">
            <div class="card">
                <div class="bg-img portrait" style="background-image: url('{{item.featured_image}}')"></div>
                <div class="padded-1">
                    <h3> {{item.heading}} </h3>
                    <p> {{item.description}} </p>
                </div>
            </div>
        </div>

        {% endfor %}  
      
    </section>


    <!------------------- Image Banner Section --------------->

    <section class="padded center tall-70 grid bg-dark">
        <div class="col-12-middle editable">
            <h3 class="big-text">
                <span class="small-text font-weight-normal">spend over $150 and activate</span>
                <br><span class="featured-text">free </span>express shipping
            </h3>
        </div>
    </section>


    <!------------------------- Gallery Section ---------------------->
    <section class="grid">
        <div class="padded col-6-middle">
            <h2 class="editable">
                built to last a <span class="featured-text">lifetime</span>
            </h2>
            <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vero doloribus voluptatum esse laborum veniam unde, sed nemo modi alias tenetur mollitia quam! Molestias explicabo voluptates ut eligendi mollitia vero.</p>
        </div>
        <div class="bg-img bg-bed col-6 tall-70"></div>
                <!-- background image bed -->
        <div class="bg-img bg-pug col-6 tall-70"></div>
                <!-- background image pug sleeping -->
        <div class="padded col-6-middle">
            <h2 class="editable">so <span class="featured-text">soft</span> you'll melt</h2>
            <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore iure distinctio hic asperiores, quis ullam, eligendi esse officiis maiores qui nemo repudiandae libero amet? Perspiciatis accusamus magnam dignissimos adipisci aperiam.</p>
        </div>
        <div class="padded col-6-middle">
            <h2 class="editable">
                built to last a <span class="featured-text">lifetime</span>
            </h2>
            <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vero doloribus voluptatum esse laborum veniam unde, sed nemo modi alias tenetur mollitia quam! Molestias explicabo voluptates ut eligendi mollitia vero.</p>
        </div>
        <div class="bg-img bg-bed col-6 tall-70"></div>
                <!-- background image bed -->
    </section>

