    <!-- Add jQuery -->
    <!-- make sure these go in order - make sure jQuery is FIRST, then any external tools like a popup gallery or a slick slider and then finally custom javascript at the end - so the way i have it right now is wrong but we're not using the mailerlite so no worries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-------------- Animate on Scroll ---------->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-------------- LightBox Gallery for Popups ----------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.0/lightgallery.min.js" integrity="sha512-pG+XpUdyBtp28FzjpaIaj72KYvZ87ZbmB3iytDK5+WFVyun8r5LJ2x1/Jy/KHdtzUXA0CUVhEnG+Isy1jVJAbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- Our custom Javascript file -->
    <script src="/scripts.js"></script>