<!------------------- Footer Section --------------->

<footer class="padded grid-spaceBetween bg-dark">
<div class="col-4-bottom">
    <h2 class="editable">Let's<br /><span class="featured-text">connect</span></h2>
    <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quo laboriosam facilis, facere praesentium molestiae minima fugiat inventore quasi quas architecto perferendis fuga, non perspiciatis at illum quidem corrupti consectetur.</p>
</div>
<div class="col-5-bottom">
    <p class="editable"><strong>Call:</strong><a href="tel:#"> 04 555 5555</a></p>
    <p class="editable"><strong>Email:</strong><a href="mailto:#"> hello@thesleep.co</a></p>
    <p class="editable"><strong>Store:</strong> 55 Main St. Chicago</p>
    <p class="editable"><strong>Instagram:</strong><a href="https://www.instagram.com/thesleepco"> @thesleepco</a></p>
</div>

<!-- Custom form from Mailerlite -->
<!-- <div class="col-12">
    <div class="ml-embedded" data-form="5vspFg"></div>
</div> 

you can inspect the code and get this to look as close to your design as possible - this is how you would do an embedded form that's linked to mailer lite, so people can subscribe to your newsletter

-->

<!-- Custom Form from Flodesk -- just need to style it how we want but i like this better than mailerlite for now-->
<!-- <div id="fd-form-6350a29aa8aff8bae2a9c434" class="col-12 padded-t-2 margin-t-2"></div>
<script>
window.fd('form', {
    formId: '6350a29aa8aff8bae2a9c434',
    containerEl: '#fd-form-6350a29aa8aff8bae2a9c434'
});
</script> -->

</footer>

<!--------------- Other Version of Footer ------------->

<!-- <footer class="grid-center padded-lg bg-dark">
<div class="col-6 center">
    <h2 class="uppercase">The Sleep Co</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae ullam explicabo sapiente ducimus, cupiditate omnis! Quisquam culpa hic quasi vitae.</p>
    <nav class="footer-nav">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </nav>
</div>
</footer> -->

<!-- MailerLite Universal -->
<!-- this is the script we would use for the design template we made to get people to sign up for our site/give them a discount for signing up, doesn't work cuz i don't have a legit account -->
<!-- <script>
(function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
.push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
(window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
ml('account', '196189');
</script> -->
<!-- End MailerLite Universal -->